version: '3.8'

services:
  mongo:
    image: mongodb/mongodb-community-server:latest
    container_name: edu_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always
    
volumes:
  mongo_data:
