version: '3.8'

services:
  mongo:
    image: mongodb/mongodb-community-server:latest
    container_name: edu_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always
  backend:
    build: ./backend
    container_name: edu_backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/mydb
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: edu_frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
