version: '3'
services:
  backend:
    build:
      context: ./backend
    env_file: .env
    ports:
      - "5000:5000"
    networks:
      - mern-network

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - mern-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge