services:
  backend:
    build:
      context: ./backend
    env_file: .env
    environment:
      - MONGODB_URI=mongodb://mongo:27017/edu-resource
    volumes:
      - ./.env:/usr/src/.env:ro
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - mern-network

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - mern-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge

volumes:
  mongo-data: